<phpunit bootstrap="tests/unit/phpunit/bootstrap.php"
         backupStaticAttributes="false"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="OAuth2ClientUnit">
            <directory>tests/unit/phpunit/</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="OAuth2ClientIntegration">
            <directory>tests/integration/phpunit/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="data/tests/coverage"/>
    </logging>

    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>

</phpunit>
